{% extends 'base.html' %}
{% load static %}
{% block content_emp %}
<h1 class="text-dark">Customer Listing</h1>
        <table class="table table-striped table-hover table-bordered">
            <tr class="bg-white text-dark text-center">
                <th class="col col-2">Customer ID</th>
                <th class="col col-3">USERNAME</th>
                <th class="col col-3">ROLE</th>
                <th class="col col-2">Manage <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New </a></th>
            </tr>
            <tr class="bg-white text-primary text-center">
                <td class="bg-white"></td>
            </tr>

        {% for customer in customers %}
            <tr>
                <td class="text-center">{{ customer.cus_id }}</td>
                <td class="text-center">{{ customer.username }}</td>
                <td class="text-center">CUSTOMER</td>
                <td class="text-lg-center">
                    <a href="#" class="btn btn-secondary"> <i class="fa fa-tools"> </i> </a>
                    <a href="#" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                </td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}