{% extends 'base.html' %}
{% load static %}
{% block content %}
     <h1 class="text-primary">Employee Listing</h1>
        <table class="table table-primary table-striped table-hover table-bordered">
            <tr class="bg-white text-primary text-center">
                <th class="col col-2">Employee ID</th>
                <th class="col col-3">Name </th>
                <th class="col col-3">ROLE</th>
                <th class="col col-2">Manage <a href="{% url 'employeNew' %}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New </a></th>
            </tr>
            <tr class="bg-white text-primary text-center">
                <td class="bg-white"></td>
            </tr>

        {% for employee in employees %}
            <tr>
                <td class="text-center">{{ employee.em_id }}</td>
                <td class="text-center">{{ employee.name }}</td>
                <td class="text-center">{{ employee.role }}</td>
                <td class="text-lg-center">
                    <a href="{% url 'employeUpdate' employee.em_id %}" class="btn btn-secondary"> <i class="fa fa-tools"> </i> </a>
                    <a href="{% url 'employeDelete' employee.em_id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                </td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}