{% extends 'base.html' %}
{% load static %}
{% block content_emp %}
     <h1 class="text-dark my-2">รายชื่อพนักงาน</h1>
        <table class="table table-hover table-bordered rounded ">
            <tr class="bg-white text-dark text-center">
                <th class="col col-2">รหัสพนักงาน</th>
                <th class="col col-3">USERNAME</th>
                <th class="col col-3">ตำแหน่ง</th>
                <th class="col col-2">จัดการข้อมูล<a href="{% url 'employeNew' %}" class="btn btn-sm btn-primary mx-2"><i class="fa fa-plus"></i> เพิ่มข้อมูล </a></th>
            </tr>
            <tr class="">
                <td class="bg-white"></td>
                <td class="bg-white"></td>
                <td class="bg-white"></td>
                <td class="bg-white"></td>
            </tr>

        {% for employee in employees %}
            <tr>
                <td class="text-center">{{ employee.em_id }}</td>
                <td class="text-center">{{ employee.name|upper }}</td>
                <td class="text-center">{{ employee.role|upper }}</td>
                <td class="text-lg-center">
                    <a href="{% url 'employeUpdate' employee.em_id %}" class="btn btn-secondary"> <i class="fa fa-tools"> </i> </a>
                    <a href="{% url 'employeDelete' employee.em_id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                </td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}