<div class="list-group">
    <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action " style="background-color: #EAEAD7">HOME</a>
</div>

    {% if request.session.userStatus == 'employee' %}
        <a href="{% url 'employeList' %}" class="list-group-item list-group-item-action " style="background-color: #EAEAD7">EMPLOYEE LIST</a>
        <a href="{% url 'customerList' %}" class="list-group-item list-group-item-action " style="background-color: #EAEAD7">CUSTOMER LIST</a>
        <a href="{% url 'brandList' %}" class="list-group-item list-group-item-action " style="background-color: #EAEAD7">BRAND LIST</a>
        <a href="{% url 'carList' %}" class="list-group-item list-group-item-action " style="background-color: #EAEAD7">CAR LIST</a>
    {% endif %}