{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    <div class="mx-4">
        <h2 class="text-center mt-3 mb-2">ยืนยันการเช่ารถ</h2>
        <div class="row">
            <h4>ข้อมูลผู้เช่า</h4>
            <div class="col-2">
                <p>ชื่อ - นามสกุล:</p>
                <p>ติดต่อ:</p>
                <p>ที่อยู่:</p>
            </div>
            <div class="col-10">
                <p>{{ cus.firstname }} {{ cus.lastname }}</p>
                <p>{{ cus.tell }}</p>
                <p>{{ cus.address }}</p>
            </div>
            <h4>ข้อมูลรถ</h4>
            <div class="col-2">
                <p>ยี่ห้อรถ:</p>
                <p>รุ่น:</p>
                <p>ประเภทเกียร์:</p>
                <p>ปริมาณ CC:</p>
                <p>ระยะเวลาที่เช่า:</p>
            </div>
            <div class="col-10">
                <p>{{ car.brand.name }}</p>
                <p>{{ car.model }}</p>
                <p>{{ car.gear }}</p>
                <p>{{ car.car_cc }}</p>
                <p>{{ ren_start }} ถึง {{ ran_end }} ({{ day }} วัน)</p>
            </div>
            <div class="row">
                <h4 class="text-success text-end">ยอดชำระทั้งหมด: {{ total|intcomma }}</h4>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="text-center mt-3 mb-2">
                    <button type="button" class="btn btn-secondary" onclick="history.back()">
                        <i class="fa-solid fa-arrow-left"></i>
                        ย้อนกลับ
                    </button>
                    <button type="submit" class="btn btn-success">
                        ยืนยัน
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}