{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    <div class="mx-4">
        <h2 class="text-center mt-3 mb-2">ยืนยันการชำระเงิน</h2>
        <div class="row">
            <h4>ข้อมูลการเช่า</h4>
            <div class="col-2">
                <p>ยี่ห้อรถ:</p>
                <p>รุ่น:</p>
                <p>ประเภทเกียร์:</p>
                <p>ปริมาณ CC:</p>
                <p>ระยะเวลาที่เช่า:</p>
            </div>
            <div class="col-10">
                <p>{{ rental.car_id.brand.name }}</p>
                <p>{{ rental.car_id.model }}</p>
                <p>{{ rental.car_id.gear }}</p>
                <p>{{ rental.car_id.car_cc }}</p>
                <p>{{ rental.ren_start }} ถึง {{ rental.ran_end }}</p>
            </div>
            <div class="row">
                <h4 class="text-success text-end">ยอดชำระทั้งหมด: {{ rental.total|intcomma }}</h4>
            </div>
            <form method="POST" enctype="multipart/form-data" class="form form-control">
                {% csrf_token %}
                {{ form }}
                <div class="text-center mt-3 mb-2">
                    <button type="button" class="btn btn-secondary" onclick="history.back()">
{#                        <i class="fa fa-rotate-back"></i> #}
                        ย้อนกลับ
                    </button>
                    <button type="submit" class="btn btn-success">
{#                        <i class="fa fa-floppy-disk"></i>#}
                        ยืนยัน
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}