{% extends 'base.html' %}
{% load static %}
{% block content_emp %}
    <h1 class="text-center">
        DASHBOARD
    </h1>
    <div class="row text-center">
        <div class="col-3 mx-auto">
                <div class="card border-primary bg-primary text-white">
                  <div class="card-header text-start " style="font-size: 18px">จำนวนพนักงาน</div>
                  <div class="card-body">
                    <h5 class="card-title text-white " style="font-size: 28px">{{ empCount }}</h5>
                  </div>
                </div>
        </div>

        <div class="col-3 mx-auto">
                <div class="card border-primary bg-primary text-white">
                  <div class="card-header text-start " style="font-size: 18px">จำนวนลูกค้า</div>
                  <div class="card-body">
                    <h5 class="card-title text-white " style="font-size: 28px">{{ cusCount }}</h5>
                  </div>
                </div>
        </div>

        <div class="col-3 mx-auto">
                <div class="card border-primary bg-primary text-white">
                  <div class="card-header text-start " style="font-size: 18px">จำนวนรถ</div>
                  <div class="card-body">
                    <h5 class="card-title text-white " style="font-size: 28px">{{ carCount }}</h5>
                  </div>
                </div>
        </div>

        <div class="col-3 mx-auto">
                <div class="card border-primary bg-primary text-white">
                  <div class="card-header text-start " style="font-size: 18px">จำนวนแบรนด์</div>
                  <div class="card-body">
                    <h5 class="card-title text-white " style="font-size: 28px">{{ brandCount }}</h5>
                  </div>
                </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-5">
            {{ chartLine | safe }}
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            {{ chartArea | safe }}
        </div>
    </div>

    {{ test }}
{% endblock %}