{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row mt-lg-4">
        <div class="cols col-12 justify-content-sm-start">
            <form method="post" class="form form-control">
                {% csrf_token %}
                <div class="text-center"><h2>เข้าสู่ระบบ</h2></div>
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="กรอกอีเมลล์">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="กรอกรหัสผ่าน">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary mt-lg-4">SIGN IN</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}